<h1>Edit <%= params[:id] %>번 Article</h1>

<%= @article_id %>

<%= form_with(model: @article, local: true) do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

<p>
  <%= form.label :text %><br>
  <%= form.text_field :text %>
</p>

<p>
  <%= form.submit %>
</p>

<% end %>

<p><%= link_to 'list', articles_path() %></p>